<h3>{{ title }}</h3>

<form *ngIf="!voted" [formGroup]="voteForm" (ngSubmit)="submitForm()">
    <div class="form-check" *ngFor="let opt of options; let idx = index">
      <input
        type="radio"
        [id]="idx"
        class="form-check-input"
        formControlName="selected"
        [value]="idx">
      <label [for]="idx" class="form-check-label">{{ opt }}</label>
    </div>

    <button type="submit" class="btn btn-secondary mt-3" [disabled]="voteForm.invalid">Submit vote</button>
</form>

<div *ngIf="voted" id="poll-results"></div>
