<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mr-auto" href="#">Blockchain Polls</a>
    <button type="button" class="btn btn-secondary" (click)="showForm = !showForm" >Create poll</button>
</nav>

<section class="jumbotron bg-light text-center">
  <h1>Polls Rethought</h1>
  <p class="lead text-muted">Powered by BlockChain™️</p>
</section>

<app-poll-create *ngIf="showForm" (pollCreated)="handlePollCreate($event)"></app-poll-create>

<div class="d-flex">
  <div class="container poll-list">
    <app-poll *ngFor="let poll of polls | async"
      [id]="poll.id"
      [question]="poll.question"
      [image]="poll.image"
      [results]="poll.results"
      [voted]="poll.voted"
      (click)="setActivePoll(poll)"
    ></app-poll>
  </div>
  <div class="container poll-details">
    <app-poll-vote
      *ngIf="activePoll"
      [id]="activePoll.id"
      [voted]="activePoll.voted"
      [options]="activePoll.options"
      [question]="activePoll.question"
      [results]="activePoll.results"
      (pollVoted)="handlePollVote($event)"
    ></app-poll-vote>
  </div>
</div>

